* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --dark-main-clr: #1F2937;
    --main-txt-clr: #F9FAF8;
    --accent-txt-clr: #E5E7EB;
    --btn-clr: #3882F6;
}

.container {

}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 10vw;
}

.navbar {
    display: flex;
    background-color: var(--dark-main-clr);
    color: var(--main-txt-clr);
}

.logo {
    font-size: 24px;
}

nav > ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1rem;
    align-items: center;
    font-size: 18px;
}

nav > ul > li > a {
    color: var(--main-txt-clr);
}

button {
    background: var(--btn-clr);
    color: var(--main-txt-clr);
    display: flex;
    padding: 5px 20px;
    justify-content: center;
    align-self: center;
    border-radius: 5px;
}

.hero {
    display: flex;
    background: var(--dark-main-clr);
    align-items: center;
    min-width: 350px;
    justify-content: space-between;
    gap: 10px;
    padding: 6rem;
    line-height: 0.8;
}

p {
    line-height: 1.2;
}

.hero-content-left,
.hero-content-right {
    
}

.hero-content-left {
    color: #E5E7EB;
}

.hero-left-title {
    font-size: 48px;
    font-weight: 900;
}

.hero-content-right {
    width: 70vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    color: #E5E7EB;
}

